body {
	background-image: url("./../picture/zugspitze_morgenrot.jpg");
	background-color: #B30000;
}

.grid_2_cols h3 {
	color: #ffffe5;
}

ul li {
	color: #FFEFBB;   /* color bullets  */
}

a { 
	color: #FFEFBB;  /* color links  */
}


