body {
	background-image: url("./../picture/corona.jpg");
	background-color: #B30000;
}

ul li {
	color: #FFEFBB;
}
a { 
	color: #FFEFBB; 
}

/* table  */
table {
	color: #FFEFBB;
}

