body {
	background-image: url("./../picture/corona.jpg");
	background-color: var(--YlOrBr_6_9);
}

ul li {
	color: var(--YlOrBr_3_9);   /* color bullets  */
}

a { 
	color: var(--YlOrBr_3_9);  /* color links  */
}