*{
	margin:0;
	padding:0;
}

/* https://colorbrewer2.org/#type=sequential&scheme=YlOrBr&n=9  9-class YlOrBr 	
  #ffffe5 ~white ocker
	#fee391 ~light ocker
	#fec44f ~ocker
	#fe9929 ~dark ocker
	#ec7014 ~light brown
	#cc4c02 ~brown
	#993404 ~dark brown
	#662506
*/

body {
	font-family: Helvetica, Arial, Geneva, cursive, sans-serif;
	background-color: #993404; /* grelles Orange */
	background-image: url("./../picture/delfine.jpg"); /* delfine.jpg  */		
	color: #fee391;
}

.grid_table {
	display: grid;
  grid-template-columns: 1fr 1fr; /*  2 columns with same width / 1 fraction each */		
	margin-top: 20px;
}

.grid_table h3 {
	font-size: 28px;
	text-align: left;
	margin-left: 100px;
	color: #fe9929;
	font-family: cursive;
}

/* Hintergrund für nav festlegen */
nav {
	background-color: #fec44f 
}

/* Hintergrund für UL festlegen und Aufzählpunkte ausblenden  */
nav ul {
	list-style-type: none; /* Aufzählpunkte ausblenden  */
 	text-align: center; 	
	height: 40px;
	padding-left: 0px;
}

nav ul li {
	display: inline-block;   /* => horizontal statt vertikal */
	position:relative; /* => zugeordnete submenu untereinander angeordnet */
	vertical-align: middle;
	text-align: center; 	
	width: 150px;
	height: 30px;
	color: #993404;  /* dunkleres braun */ 	
	font-size: 23px;
	font-family: Helvetica, Arial, Geneva, cursive, sans-serif;
}

nav li:hover ul {
	position: absolute;
	display: block;
}

nav li a {
	display: table-cell;
	vertical-align: middle;
	background-color: #fec44f;
	width: 150px;
	height: 30px;
	text-decoration:none; /* => kein Link-Unterstrich */
	color: #993404;  /* dunkleres braun */
	font-size: 23px;
	font-family: Helvetica, Arial, Geneva, cursive, sans-serif;
}

nav li a:hover {
	color: #ffffe5;
	background-color: #993404;
}

nav li .active {
	color: #ffffe5;
	/* background-color: #993404; */
}

/* submenu von nav */
.submenu {
	display:none;
}

.submenu li a {
	display:block;
	height: 30px;
	width: 150px;
	background-color: #fec44f;
	color: #993404;
	font-size: 20px;
	padding-top: 10px;
}


p {
	margin-top: 10px;
	padding-top: 10px;
	padding-left: 20px;
	font-size: 20px;
	text-align: left;
	/* float: left; */
	font-family: serif;
}


ul {
	/* list-style-type: none;
	float:right; */
	padding-left: 20px;
	padding-right: 50px;
	font-weight: bold;
	color: #fe9929;
}

ul li {
	/* display: inline-block; */ /* otherwise no crlf */
	margin-left: 20px;
	margin-right: 50px;
	margin-top: 5px;
	color: #662506;  /* color bullets - red */
}

a { 
	color: #662506 ;  /* color links - red */
	font-size: 20px;
	font-family: serif;
}

/* table */
table {
	margin-top:20px;
	font-size: 20px;
	font-family: serif;
	font-family: cursive;
}

th {
	color: #fe9929;
	font-size: 23px;
	text-align: center;
}

td {
	font-size: 20px;
	color: #fee391;
	font-family: serif;
  font-family: bold;
}



h1 {
	margin-top: 15px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 58px;
	color: #fee391;
	font-family: 'harlow';
	font-family: cursive;
}

h2 {
	font-size: 20px;
	color: #fe9929;
	font-family: 'harlow';
	font-family: cursive;
}

h3 {
	font-size: 28px;
	text-align: center;
	color: #fe9929;
	font-family: cursive;
}

hr { 
	width: 100%; 
	height: 5px; 
	margin: 0px;
	color: blue;
	background: #dfac20;
	padding-left: 0px;
}

footer {
	height: 40px;
	position: fixed;
	padding-left: 0%;
	bottom: 0px;
	width: 100%;
	background-color: #fee391;
	color: #993404;
}

footer p {
	font-size: 18px;
	padding-left: 10px;
	
	color: #993404;
	float: left;
}

footer ul {
	list-style-type: none;
	float:right;
	padding-right: 50px;
}

footer ul li {
	display: inline-block;
	margin-right: 50px;
	margin-top: 10px;
}

footer ul li a {
	font-family: Helvetica, Arial, Geneva, cursive, sans-serif;
	font-size: 25px;
	text-decoration: none;
	display: table-cell;
	color: #993404;
}

.middle_text {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
	padding-left: 100px;
}


#langkofel_picture {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
}