body {
	background-image: url("./../picture/zugspitze_morgenrot.jpg");
	background-color: var(--YlOrBr_6_9);
}

.grid_2_cols h3 {
	color: var(--YlOrBr_1_9); 
}

ul li {
	color: var(--YlOrBr_3_9);   /* color bullets  */
}

a { 
	color: var(--YlOrBr_3_9);  /* color links  */
}


