*{
	margin:0;
	padding:0;
}

body {
	font-family: Helvetica, Arial, Geneva, cursive, sans-serif;
	background-color: #E4701E;
	background-image: url("./../picture/delfine.jpg");
	color: #FFEFBB;
}

/* Hintergrund für nav festlegen */
nav {
	background-color: #8B814C;
}

/* Hintergrund für UL festlegen und Aufzählpunkte ausblenden  */
nav ul {
	/* list-style-type: none; */
 	text-align: left; 
}

nav li {
	display: inline-block;
	position:relative;
	height: 30px;
	margin-left: 20px;
	margin-right: 30px;
}

nav li:hover ul {
	position: absolute;
	display: block;
}

nav li a {
	display: table-cell;
	vertical-align: middle;
	background-color: #8B814C;
	width: 220px;
	height: 20px;
	text-decoration:none;
	color: #723300;
	font-size: 23px;
	font-family: Helvetica, Arial, Geneva, cursive, sans-serif;
}

nav li a:hover {
	color: #FFEFBB;
	background-color: #723300;
}

p {
	padding-top: 10px;
	padding-left: 20px;
	font-size: 20px;
	float: left;
	font-family: serif;
}


ul {
	/* list-style-type: none;
	float:right; */
	padding-left: 50px;
	padding-right: 50px;
	font-weight: bold;
	color: #FAB134;
}

ul li {
	/*display: inline-block; */
	margin-left: 20px;
	margin-right: 50px;
	margin-top: 5px;
	color: #800000;
}

a { 
	color: #800000; 
	padding: 3px; 
}

/* table */
table {
	margin-top:30px;
	font-size: 20px;
	font-family: serif;
	font-family: cursive;
}

th {
	color: #FAB134;
	font-size: 28px;
	text-align: center;
}

td {
	font-size: 20px;
	color: #FFEFBB;
	font-family: serif;
  font-family: bold;
}


.submenu {
	display:none;
}

.submenu li a {
	display:block;
	height: 30px;
	width: 140px;
	background-color: FFEFBB;
	color: #723300;
	font-size: 18px;
	padding-top: 10px;
}

h1 {
	margin-top: 25px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 58px;
	color: #FFEFBB;
	font-family: 'harlow';
	font-family: cursive;
}

h2 {
	font-size: 40px;
	color: #FAB134;
}

hr { 
    width: 100%; 
    height: 5px; 
    margin: 0px;
    color: blue;
    background: #dfac20;
    padding-left: 0px;
}

footer {
	height: 50px;
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: #FFEFBB;
	color: #723300;
}

footer p {
	font-size: 18px;
	padding-left: 10px;
	padding-top: 10px;
	color: #723300;
	float: left;
}

footer ul {
	list-style-type: none;
	float:right;
	padding-right: 50px;
}

footer ul li {
	display: inline-block;
	margin-right: 50px;
	margin-top: 10px;
}

footer ul li a {
	font-family: 'harlow';
	font-size: 25px;
	text-decoration: none;
	display: table-cell;
	color: #723300;
}

